#MenuDeNav{
    float: right;
    margin-right: 100px;
    text-indent: 50px;
    margin-top: 20px;
}
#Sinscrire,#Hébergement{
    color: blue;
}

#HébergementMarseille{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.863);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
#lesPlusPopulaires{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.863);
}
ul{
    list-style: none;
}
footer{
    border: solid 4px red;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.726) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header{
    border: solid 4px blue;
    margin: 5px;
}
nav{
    border: solid 4px green;
    margin: 5px;
}
article{
    border: solid 4px orange;
    margin: 5px;
}
#MenuDeNav{
    display: flex;
    align-items: center;
}
img{
    border-radius: 10px;
    
}
#AubergeCannebièreJPG{
    width: 30%;
    height: 30%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#hotelDuPortJPG{
    width: 50%;
    height: 50%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
#AubergeCannebière{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    overflow: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
