/* Variable pour le responsive */

:root {
    --break-header: 1400px;
    --break-large: 1220px;
    --break-medium: 1024px;
    --break-tablet: 768px;
    --break-small: 420px;
    --break-mobile: 375px;
}

/* code Desktop */

.menu-de-nav{
    float: right;
    margin-right: 100px;
    text-indent: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
a:link 
{ 
 text-decoration:none; 
} 
.sinscrire,.hebergement{
    color: blue;
}

.hebergement-marseille{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.863);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.les-plus-populaires{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(128, 128, 128, 0.863);
}
ul{
    list-style: none;
}
footer{
    border: solid 4px red;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.726) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header{
    border: solid 4px blue;
    margin: 5px;
}
nav{
    border: solid 4px green;
    margin: 5px;
}
article{
    border: solid 4px orange;
    margin: 5px;
}

img{
    border-radius: 10px;
    
}
.auberge-cannebiereJPG{
    width: 30%;
    height: 30%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.hotel-du-portJPG{
    width: 50%;
    height: 50%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.auberge-cannebière{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    background-color: white;
    overflow: hidden;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* code Tablette et Mobile */

