/* Variable pour le responsive */

:root {
    --break-header: 1400px;
    --break-large: 1220px;
    --break-medium: 1024px;
    --break-tablet: 768px;
    --break-small: 420px;
    --break-mobile: 375px;
}
@media screen and (max-witdh: var(--break-header)){
    
}
/* code Desktop */
body{
    font-family: Arial, Helvetica, sans-serif;
}
.menu-de-nav{
    float: right;
    margin-right: 100px;
    text-indent: 50px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nom-du-site{
    max-width: 100px;
    max-height: 100px;
    display:block;
    margin: 0;
}
.hebergement{
    padding-top: 50px;
}
.hebergement:hover {
    border-top: solid 3px blue;
}
.sinscrire{
    padding-top: 50px;
    display: flex;
}
.sinscrire:hover {
    border-top: solid 3px blue;
}
.activites{
    padding-top: 50px;
}
.activites:hover {
    border-top: solid 3px blue;
}

a:link 
{ 
 text-decoration:none; 
} 
.sinscrire,.hebergement{
    color: blue;
}

.hebergement-marseille{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.863);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

ul{
    list-style: none;
}
footer{
    border: solid 4px red;
    margin: 5px;
    background-color: rgba(128, 128, 128, 0.726) ;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
header{
    border: solid 4px blue;
    margin: 5px;
}
nav{
    margin: 5px;
}
article{
    border: solid 4px orange;
    margin: 5px;
}

img{
    border-radius: 10px;   
}
h4{
    margin-left: 15px;
    padding: 10px;
}
.auberge-cannebiere{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    
}
.auberge-cannebiereJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.hotel-du-port{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-du-portJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.hotel-des-mouettes{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-des-mouettesJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.hotel-de-la-mer{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-de-la-merJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.auberge-le-panier{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.auberge-le-panierJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.prix-nuit-auberge-le-panier{
    margin: 15px;
}
.hotel-chez-amina{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-chez-aminaJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.prix-nuit-hotel-chez-amina,.prix-nuit-auberge-le-panier,.prix-nuit-hotel-de-la-mer,.prix-nuit-hotel-des-mouettes,
.prix-nuit-hotel-du-port,.prix-hotel-cannebiere,.prix-hotel-le-soleil-du-matin,.prix-au-coeur-de-leau-chambre-dhotes,.prix-hotel-tout-bleu-et-blanc{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 25px;
}

.les-plus-populaires{
    border: 0px; 
    border-radius: 20px;
    background-color: rgba(201, 201, 201, 0.863);
    width: 35%;
}

.hotel-le-soleil-du-matin{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-le-soleil-du-matinJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.au-coeur-de-leau-chambre-dhotes{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.au-coeur-de-leau-chambre-dhotesJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.hotel-tout-bleu-et-blanc{
    padding: 5px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin: 10px;
}
.hotel-tout-bleu-et-blancJPG{
    width: 100%;
    height: 70%;
    object-fit: cover; 
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

/* code Responsive */

@media screen and (max-width: 1400px) {
    nav {
        background-color: crimson;
    }
}
@media screen and (max-width: 1220px) {
    nav {
        background-color: chartreuse;
    }
}
@media screen and (max-width: 1024px) {
    nav {
        background-color: blue;
    }
}

@media screen and (max-width: 768px) {
   nav {
       background-color: aqua;
   }
}
@media screen and (max-width: 420px) {
    nav {
        background-color:darkgrey;
    }
 }

@media screen and (max-width: 375px){
   nav {
       background-color: black;
   } 
   .sinscrire{
       flex-direction: column;
   }
}

